<h1>Edit Doctor Information</h1>

<%= render 'form', doctor: @doctor %>

<%= link_to 'Show', @doctor %> |
<%= link_to 'Delete', @doctor, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', doctors_path %>
      
